#first-view {
    height: 100vh;
    display: flex;
    align-items: center;
}

#first-view h1{
    font-size: 64px;
    font-weight: 900;
    color: #716A7D;
    margin-left: 96px;
    letter-spacing: 0.5em;
    line-height: 128px;
}

.background_video{
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

.video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

.emphasize {
    color: #4D455D;
}

#policy {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 164px;
}

#policy h2 {
    text-align: right;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 0.2em;
}

#policy p {
    line-height: 64px;
    margin-top: 328px;
    font-size: 32px;
    font-weight: 700;
    color: #716A7D;
}

.left {
    margin-top: 160px;
}

.right {
    text-align: right;
}

#action {
    width: 100%;
    padding-top: 164px;
    background-color: white;
}

.action {
    width: 80%;
    margin: 0 auto;
}

#action h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

.action-boxes {
    margin-top: 328px;
}

.action-box {
    position: relative;
    margin-top: 40px;
}

.action-box:first-child {
    margin-top: 0;
}

.action-box:nth-child(2) {
    margin-left: 25%;
}

.action-box:nth-child(3) {
    margin-left: 50%;
}

.action-box p {
    position: absolute;
    z-index: 1;
    font-size: 32px;
    line-height: 64px;
    letter-spacing: 0.3em;
    font-weight: 700;
    top: 50%;
    left: 10%;
    transform: translateY(-40%);
}

#member {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 328px;
    background-color: white;
}

.slider {
    margin-top: 40px;
    display: flex;
    gap: 120px;
}

.slick-dots {
    background-color: #fff;
    margin-bottom: 0;
}

.member {
    text-align: center;
}

.member img {
    width: 60%;
    margin: auto;
    display: block;
}

.member h3 {
    margin-top: 16px;
}

.member p {
    margin-top: 16px;
}

#info {
    width: 100%;
    padding-top: 228px;
    background-color: white;
}

.info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.info div {
    margin-top: 124px;
    display: flex;
}

.map {
    width: 50%;
}

.map::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.map iframe {
    width: 100%;
}

.info-text {
    margin-left: 40px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}

.info-text ul {
    list-style: none;
    line-height: 48px;
}

.properties {
    text-align: right;
}

.contents {
    text-align: left;
    font-weight: 700;
    list-style: none;
}

footer {
    padding-top: 240px;
}