* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "mgenplus";
}

h1, h2, h3, h4, h5, p {
    color: #4D455D;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h5 {
    font-size: 16px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #4D455D;
}

@font-face {
    font-family: "mgenplus";
    src: url(../fonts/rounded-mgenplus-1c-black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "mgenplus";
    src: url(../fonts/rounded-mgenplus-1c-heavy.ttf) format("truetype");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "mgenplus";
    src: url(../fonts/rounded-mgenplus-1c-bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "mgenplus";
    src: url(../fonts/rounded-mgenplus-1c-medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "mgenplus";
    src: url(../fonts/rounded-mgenplus-1c-regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "mgenplus";
    src: url(../fonts/rounded-mgenplus-1c-light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "mgenplus";
    src: url(../fonts/rounded-mgenplus-1c-thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 0;
}

header h3 {
    font-weight: 800;
    font-size: 40px;
}

.logo {
    margin: auto 0;
}

.logo a {
    display: flex;
    align-items: center;
    color: #4D455D;
}

.logo img {
    width: 50px;
    height: 50px;
}

.ham_menu-wrap {
    position: fixed;
    top: 22.5px;
    right: 25px;
    z-index: 999;
    display: none;
    width: 55px;
    height: 45px;
}

.ham_menu-wrap .ham_menu {
    position: relative;
    display: block;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
  
.ham_menu-wrap .ham_menu span {
    position: absolute;
    display: block;
    left: 50%;
    height: 2px;
    background-color: #4D455D;
    transition: all 0.4s;
}
  
.ham_menu-wrap .ham_menu span:first-child {
    top: 38%;
    transform: translateX(-50%);
    width: 28px;
}
  
.ham_menu-wrap .ham_menu span:nth-child(2) {
    top: 50%;
    transform: translateX(-50%);
    width: 28px;
}
  
.ham_menu-wrap .ham_menu span:last-child {
    top: 63%;
    transform: translateX(-50%);
    width: 28px;
}
  
.ham_menu-wrap .ham_menu.active span:nth-of-type(1) {
    top: 50%;
    transform: translateX(-50%) rotate(25deg);
}
  
.ham_menu-wrap .ham_menu.active span:nth-of-type(2) {
    opacity: 0;
}
  
.ham_menu-wrap .ham_menu.active span:nth-of-type(3) {
    top: 50%;
    transform: translateX(-50%) rotate(-25deg);
}
  
.ham_menu-wrap .window-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    width: 30%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 1;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}
  
.ham_menu-wrap .window-fixed .window {
    overflow: auto;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    padding: 0 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.ham_menu-wrap .window-fixed .window ul {
    margin-top: 80px;
    color: #4D455D;
    list-style: circle;
}

.ham_menu-wrap .window-fixed .window ul a {
    display: inline-block;
    font-size: 24px;
    line-height: 48px;
}

.ham_menu-wrap .window-fixed .links-wrap {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 125px 0 160px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 16px;
}

nav a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}

.button {
    position: relative;
    display: inline-block;
    text-align: center;
}

.button img {
    width: 150px;
}

.button-text {
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

footer {
    margin: 0;
    padding-top: 120px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: white;
}

footer img {
    width: 100%;
}

.footer-box {
    position: absolute;
    bottom: -10%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list li::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4D455D;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
}

.list li a {
    font-size: 24px;
    font-weight: 700;
    
}

.sns {
    margin-top: 64px;
    display: flex;
    gap: 40px;
}

.sns img {
    width: 50px;
}

.address {
    margin-top: 64px;
    font-size: 16px;
    font-weight: 700;
}


@media screen and (max-width: 1024px) {

    nav ul {
        display: none;
    }

    .ham_menu-wrap {
        display: block;
    }

    .window nav ul {
        display: block;
    }

    footer {
        margin-top: 30vw;
    }

    .footer-box {
        bottom: 10%;
        left: 65%;
    }

    @media screen and (max-width: 600px) {

    }
}
